
@use './variables' as *;

.btn{

    font-size: 20px;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: none;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.2s ease;
    background-color: transparent;

}

.order-btn{
    color: $blue;
    border: 1px solid $blue;
    &:hover{
        color: $background;
        background-color: $blue;
    }
}

.return-btn{
    color: $background;
    border: 1px solid $red;
    background-color: $red;
    &:hover{
        color: $red;
        background-color: $background;
    }
}


.logout-btn {
  padding: 8px 16px;
  color: $background;
  border: none;
  border-radius: 4px;
  font-size: 24px;
  
  
  cursor: pointer;
  transition: all 0.2s ease;

  
  &:hover {
   color: $red;
    transform: translateY(-1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: 700;
  }
  
  &:active {
    transform: translateY(0);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
       color: $red;

  }
  
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(108, 117, 125, 0.3);
       color: $red;

  }
}



.hide-cart {
  position: absolute;
  top: 30px;
  right: 40px;
  color: $blue;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 30px;
}
