@use './variables' as *;


.new-order{

    display: flex;
    flex-wrap: wrap;

    &__title{
        color: $text;
        font-size: 40px;
        font-weight: 300;
        margin-bottom: 50px;
        width: 100%;
    }

    &__order-details{
        width: 50%;
        height: 100%;
        border-right: 1px solid $text;
        display: flex;
        flex-direction: column;

        .cart-wrapper{
            flex:1;
            min-height: 50vh;

        }

        .cart-item{
            width: 100%;
            display: flex;
            gap: 40px;
            align-items: center;
            margin-bottom: 30px;
            
            .cart-item-image{
                width:80px;
                height: 60px;
                border-radius: 10px;
            }
            .cart-item-description{
                display: flex;
                align-items: center;
                gap: 20px;
                p{
                    font-size: 18px;
                    font-weight: 300;
                    span{
                        font-weight: 700;
                        margin-inline-start: 5px;
                    }
                }
                .description-title{
                    font-weight: 700;
                }
            }
        }

        .total-price{
            border-top: 1px solid $text;
            padding-block: 10px;
            padding-inline-end: 40px;
            p{
                font-size: 22px;
                font-weight: 700;
                width: 100%;
                display: flex;
                span{
                    display: inline-block;
                    margin-inline-start: auto;
                }
            }
        }
    }

    &__form{
        width: 50%;
        padding-inline: 40px;
       

        .form-group{
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;
            input{
                width: 100%;
                padding: 5px 10px;
                font-size: 18px;
                font-weight: 300;
                color: $text;
                outline: none;
                background: transparent;
                border: none;
                border-bottom: 1px solid $text;
                &:focus{
                    background-color: rgba($color: $blue, $alpha: 0.1);
                    border-bottom: 2px solid $text;

                }
                &::placeholder{
                    color: rgba($color: $text, $alpha: 0.7);
                }
                &.error-input{
                    background-color: rgba($color: $red, $alpha: 0.1);
                    border-bottom: 2px solid $red;

                }
            }
            .input-error{
                color: $red;
                font-size: 14px;
                font-weight: 300;
                padding-inline-start: 5px;
            }
        }

        .actions{
            margin-top: 50px;
            display: flex;
            justify-content: center;
          
        }
    }
}