@use './variables' as *;

.dashboard{
    max-width: 100%;
    padding: 40px;

    &__title{
        font-size: 36px;
        font-weight: 300;
        color: $blue;
        text-transform: uppercase;
        margin-bottom: 40px;
        letter-spacing: 1px;
    }

    &__content{
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    @media (max-width: 1024px) {
        padding: 32px 24px;

        &__title {
            font-size: 28px;
            margin-bottom: 32px;
        }
    }
}