@use './variables' as *;

.dishes-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
    row-gap: 50px;
    width: 800px;
   
    .dish{
        text-decoration: none;
        overflow: hidden;
        display: block;
        .dish-image{
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 20px;
        }
        .dish-content{
            padding-inline: 5px;

            .dish-title{
                color: $text;
                font-weight: 400;
                transition: all ease 0.2s;
                margin-bottom: 5px;

            }
            
            .dish-price{
                font-size: 16px;
                font-weight: 300;
                color: $text;
            }
        
        }
        

       
    }
    
}

.dish-page{
    padding: 20px 10px;
    width: 900px;
    &__title{
        color: $blue;
        font-size: 42px;
        font-weight: 300;
        text-transform: uppercase;
        margin-block: 30px;
    }

    &__content{
        display: flex;
        gap: 30px;
    }

    &__image{
        width: 450px;
        object-fit: contain;
        height: auto;
    }

    &__description{
        font-size: 22px;
        color: $text;
        font-weight: 300;
        flex: 1;
    }

    &__price{
        font-size: 42px;
        color: $text;
        padding: 20px;
    }

    &__actions{
        display: flex;
        justify-content: space-between;
    }
}