@use './variables' as *;

.header{
    display: flex;
    height: 10vh;
    justify-content: space-between;
    padding-inline: 2rem;
    align-items: center;
    background-color: $blue;
    &__brand{
        display: flex;
        align-items: center;
        gap: 1rem;
        img{
            height: 7vh;
            width: 7vh;
            border-radius: 50%;
        }
    }
}