@use './variables' as *;

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;

  &-message {
    font-size: 22px;
    color: #666;
    margin: 0;
    text-align: center;
    font-weight: 500;
  }
}

// Fullscreen overlay loader
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($blue, 0.3);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  .loader {
    background: transparent;
    padding: 30px;
    border-radius: 12px;
    // box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }
}