@use "./variables" as *;

.cart-list {
  width: 20vw;
  padding-top: 50px;
  transition: all ease 0.2s;
  display: flex;
  flex-direction: column;
  width: 0;
  overflow: hidden;

  &.show-cart{
      width: 20vw;
      border-right: 1px solid $blue;
  }
  &__title {
    color: $blue;
  }

  &__items {
    width: 100%;
    flex: 1;
    .cart-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 5px;
      .item-title {
        flex: 1;
        padding-inline: 10px;
      }
      .item-image {
        width: 50px;
        border-radius: 40px;
      }

      .item-qty {
        display: flex;
        gap: 10px;
        align-items: center;
      }
      .item-remove {
        margin-inline-start: 20px;
      }
    }
  }

  &__actions{

  }
}

.hide-cart {
    position: absolute;
    top: 12vh;
    left: 40px;
    width: 50px;
    height: 20px;
  }
