@use "./variables" as *;

.cart-list {
  padding-top: 100px;
  transition: all ease 0.2s;
  display: flex;
  flex-direction: column;
  width: 100px;
  overflow: hidden;
  position: relative;
  border-right: 1px solid $blue;

  &.show-cart{
      width: 300px;
      border-right: 1px solid $blue;
      padding-inline: 40px;

  }

  &__title {
    color: $blue;
  }

  &__items {
    width: 100%;
    flex: 1;
    padding-top: 50px;

    .cart-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 5px;
      flex-wrap: wrap;
      &:not(:last-child) {
        border-bottom: 1px solid $blue;
      }
      .item-title {
        flex: 1;
        padding-inline: 10px;
      }
      .item-image {
        width: 30px;
        height: 30px;
        border-radius: 10px;
      }

      .item-qty {
        display: flex;
        gap: 10px;
        align-items: center;
        width: 100%;
        padding: 10px;
        span{
          display: inline-block;
        }
         .item-remove {
        margin-inline-start: 20px;
      }
      }
     
    }
  }

  &__total-price{
    width: 100%;
    height: 60px;
    padding-top: 5px;
    text-align: start;
    color: $blue;
    font-size: 22px;
    font-weight: 300;
    line-height: 40px;
    border-top: 1px solid $blue;
    span{
      font-weight: 700;
      display: inline-block;
      padding-inline-start: 5px;
    }
  }

  &__actions{
    display: flex;
    justify-content: space-between;
    padding-block: 20px;

  }
}

