@use "./variables" as *;

.cart-list {
  padding-top: 100px;
  transition: all ease 0.2s;
  display: flex;
  flex-direction: column;
  width: 100px;
  overflow: hidden;
  position: relative;
  border-right: 1px solid $blue;

  &.show-cart{
      width: 20vw;
      border-right: 1px solid $blue;
      padding-inline: 40px;

  }
  &__title {
    color: $blue;
  }

  &__items {
    width: 100%;
    flex: 1;
    .cart-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 5px;
      .item-title {
        flex: 1;
        padding-inline: 10px;
      }
      .item-image {
        width: 50px;
        border-radius: 40px;
      }

      .item-qty {
        display: flex;
        gap: 10px;
        align-items: center;
      }
      .item-remove {
        margin-inline-start: 20px;
      }
    }
  }

  &__actions{

  }
}

