@use './variables' as *;
@use './header';
@use './footer';
@use './restaurantsGrid';
@use './dishesGrid';
@use './login';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $main_font;
}



.tasty-near-layout{
    background-color: $background;
    .main{
        width: 100%;
        min-height: 80vh;
        display: flex;
        padding-inline: 150px;
        .current-order{
            width:20vw;
        }
        .main-content{
            flex:1;
        }
    }
    
}


//Buttons
.btn{

    font-size: 20px;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: none;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.2s ease;
    background-color: transparent;

}

.order-btn{
    color: $blue;
    border: 1px solid $blue;
    &:hover{
        color: $background;
        background-color: $blue;
    }
}

.return-btn{
    color: $background;
    border: 1px solid $red;
    background-color: $red;
    &:hover{
        color: $red;
        background-color: $background;
    }
}
