@use './variables' as *;
@use './loader';
@use './buttons';
@use './header';
@use './footer';
@use './dashboard';
@use './restaurantsGrid';
@use './dishesGrid';
@use './login';
@use './orderList';
@use './profile';
@use './createOrder';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $main_font;
}



.tasty-near-layout{
    background-color: $background;
    .main{
        width: 100%;
        min-height: 80vh;
        display: flex;
       
        .main-content{
            flex:1;
            padding: 50px 100px;
        }
    }
    
}
