@use './variables' as *;
@use './header';
@use './footer';
@use './restaurantsGrid';
@use './dishesGrid';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $main_font;
}



.tasty-near-layout{
    background-color: $background;
    .main{
        width: 100%;
        min-height: 80vh;
        display: flex;
        padding-inline: 150px;
        .current-order{
            width:20vw;
        }
        .main-content{
            flex:1;
        }
    }
    
}

